<h1>Plants#index</h1>
<p>Find me in app/views/plants/index.html.erb</p>

<% @plants.each do |plant| %>
  <p><%= plant.plant_type.common_name.try(:titleize) %></p>
  <p><%= image_tag plant.image unless plant.image.nil? %></p>
  <p><%# plant.plant_type.common_name.try?(:titleize) %></p>
<% end %>
