html {
  font-size: $ff-base-size;
}

body {
  @include font(13px);
  background: $c-grey-xlight;
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

img {
  box-sizing: border-box;
  display: inline-block;
  /*width: 100%;*/
}

h1 {
  color: #74b72a;
}

::selection {
  background: $c-primary-light;
  color: $c-primary-dark;
}

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: $c-primary;
}

[data-tooltip] {
  position: relative;
  pointer-events: help;
}

[data-tooltip]::before {
  @include font(12px, medium);
  z-index: $z-1;
  position: absolute;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
  border-radius: 10000px; // Arbitrary large number
  background-color: rgba($c-primary-light, 0.96);
  color: $c-grey-dark;
  content: attr(data-tooltip);
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  padding: $s-tiny $s-small;
  pointer-events: none;
  transition: opacity $transition-speed ease;
}

[data-tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
}

[data-tooltip]::after {
  content: " [?]";
  color: $c-primary-xlight;
  font-size: 90%;
  vertical-align: baseline;
}

.book_cover {
  float: left;
}

.book-details {
  float: left;
  margin-left: 20px;
}

.u--float-right {
  float: right;
}

.nav--section {
  display: inline-block;
}

.clear {
  clear: both;
}

.card {
  background-color: white;
  margin: 5px;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 200px;
  overflow: hidden;
}

p {
  margin: 0;
}

.plant-list-item {
  width: 250px;
  /*height: 200px;*/
  text-align: center;
  margin-bottom: 2rem;
  overflow: hidden;
  max-width: 200px;
  text-align: center;
  display: inline-block;

  img {
    clip-path: circle(80px at center);
    /*height: 100%;*/
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
}

.plant-list-item-image {
  height: 200px;
  width: auto;
}

.plant-shelf-container {
  float: left;
  width: 35%;
}

.trade-section-container {
  float: left;
  width: 25%;
  margin: 0 20px 0 20px;
}

.trade-section {
  border-style: dotted;
  border-color: #c6b8aa;
  background-color: rgba(230, 216, 203, 0.3);
  border-radius: 5px;
  min-height: 260px;
  text-align: center;
}

.c-navigation__title {
  color: #272727;
  font-weight: 700;
  font-size: 48px;
  margin-right: 20px;
}

.plant-list-item--plant-name {
  margin: 0 10px 5px;
}

.common-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.scientific-name {
  opacity: 0.5;
}

.u--float-right {
  float: right;
}

.u--float-left {
  float: left;
}

.headline-with-button {
  overflow: hidden;
}

.c-button--full-width {
  width: 100%;
}
