<div class="green-hero">
  <h1>Get started by selecting a plant you want.</h1>
</div>

<div class="c-section">
  <div class="grid grid--center">
    <% @plants.each do |plant| %>
      <!-- <a href="<!%= create_trade_by_owner_path(user_id: plant.user.id, plant_id: plant.id) %>" -->
      <a href="<%= plant_path(plant) %>"
         class="c-card u-margin-horizontal-small u-margin-vertical-small plant-list-item">

          <div class="c-section c-section--small">
            <%= image_tag url_for(plant.image), class: "plant-list-item-image" %>
            <div class="plant-list-item--plant-name">
              <div class="plant-list-item-common-name">
                <%= plant.plant_type.common_name %>
              </div>
              <div class="plant-list-item-scientific-name">
                <%= plant.plant_type.scientific_name %>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </a>
    <% end %>
  </div>
</div>
