<% content_for :title do %>
  Start a Trade
<% end %>

<div class="green-hero">
  <h1 class="u-margin-none">Get started by selecting a plant you want.</h1>
</div>
<div class="c-section">
<div class="plant-grid">
  <% @plants.each do |plant| %>
    <div class="c-card plant-card">
      <a href="<%= plant_path(plant) %>">
        <%= image_tag url_for(plant.image), class: "plant-card-image" %>
        <div class="c-section c-section--flush plant-card-title">
          <h2 class="c-title u-padding-top-small u-margin-bottom-tiny">
            <%= plant.plant_type.common_name %>
          </h2>
          <h5 class="c-title c-title--label u-margin-bottom-small u-margin-top-none">
            <%= plant.plant_type.scientific_name %>
          </h5>
        </a>
      </div>
    </div>
  <% end %>
</div>
</div>
